@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <h1 class="text-center">About Us</h1>
    <p class="mt-4" style="font-size: 1.2rem;">
        Exam Scheduling System is a special service designed for Hashemite University/Prince Al Hussein bin Abdullah II Faculty for Information Technology; it aims to reduce conflicts in exam times as much as possible by making the exam reservation process more organized, simplify the exam reservation process, enhance efficiency, and improve the academic experience for students and faculty members.
    </p>
</div>
