@{
    ViewData["Title"] = "Exam Scheduling System";
}
<div class="container text-center">
   


    <h2>PRINCE AL-HUSSEIN BIN ABDULLAH II FACULTY FOR INFORMATION TECHNOLOGY</h2>
    <h1>EXAM SCHEDULING SYSTEM</h1>  
    <h3>Log in as:</h3>


    <div class="login-options">

        <div class="login-buttons">
            <a href="/Home/FacultyLogin" class="btn btn-primary btn-lg">Faculty</a>
            <a href="/Home/StudentLogin" class="btn btn-primary btn-lg">Student</a>
            <a href="/Home/AdminLogin" class="btn btn-primary btn-lg">Admin</a>
            <a href="/Home/Guest" class="btn btn-secondary btn-lg">Enter as Guest</a>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/css/styles.css" />