
@{
    ViewData["Title"] = "InvigilatorDashboard";
}



<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
     
        <div class="col-md-6 offset-md-3">
            <div class="d-flex flex-column align-items-center gap-3">
                <a href="@Url.Action("ViewAssignedExams","Invigilator")" class="btn btn-light btn-lg border rounded-pill w-100">View Assigned Exams</a>
                <a href="@Url.Action("ViewExamsSchedule","Home")" class="btn btn-light btn-lg border rounded-pill w-100">View Exams Schedule</a>
                
               

            </div>
        </div>
    </div>
</div>


